html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: rgba(87, 136, 67, .8);
    border-bottom: 2px solid #fff;
}

.header img{
    margin: 5px 30px;
    height: 45px;
}

.header .logout button{
    color: #fff;
    background: transparent;
    border: none;
    border: 2px solid #fff;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.header .logout button:hover {
    background: rgb(87, 136, 67);
}

.side-bar {
    background:rgb(87, 136, 67, 0.8);
}

.side-bar #admin {
    height: 100px;
    width: 100px;
    margin: 20px 15%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.menu a {
    display: block;
    text-decoration: none;
    margin: 20px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    transition: all ease-in-out .5s;
}

.menu .active {
    border-left: 2px solid #555;
    color: #555;
}

.menu a:hover {
    color: #555;
    border-left: 2px solid #555;
} 

.drop:hover .dropdown-container {
    display: block;
}

.dropdown-container {
    display: none;
    padding: 5px;
}

.inside {
    height: 650px;
}

.content {
    width: 100%;
    margin: 20px auto;
    display: grid;
    justify-content: center;
}

form.change-img {
    display: grid;
    justify-content: center;
}

.chg {
    position: relative;
    height: 120px;
    width: 100%;
    
}

div#hidden {
    position: absolute;
}

img#output_image {
    height: 120px;
    width: 120px;
    border-radius: 3px;
}

label#lbl { 
    height: 40px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    display: grid;
    align-content: center;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    color: #555;
    font-weight: 600;
    background: rgba(200, 200, 200, .7);
    visibility: hidden;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.chg:hover label#lbl {
    visibility: visible;
}

.change-img button {
    background: rgba(87, 136, 67, .8);
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 120px;
    margin: 10px 0;
    font-size: 18px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.change-img button:hover {
    background: rgb(87, 136, 67);
}

.reset-form {
    color: rgba(87, 136, 67, .85);
    border-radius: 5px;
    display: grid;
    justify-content: center;
}

.back {
    padding: 30px;
    display: grid;
    justify-content: center;
}

.back h3 {
    font-weight: bold;    
    margin-bottom: 20px;

}

.back input {
    background: transparent;
    border: none;
    color: rgba(87, 136, 67, .85);
    border-bottom: 2px solid rgba(87, 136, 67, .3);
    margin: 20px 0;
    width: 200px;
    text-align: center;
    font-size: 16px;
}

.back>label, .back>div {
    display: grid;
    justify-content: center;
}

button.chpwd {
    border-radius: 5px;
    background: rgba(87, 136, 67, .85);
    border: none;
    padding: 8px 5px;
    color: #fff;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all ease-in-out .4s;
}

button.chpwd:hover {
    background: rgb(87, 136, 67)
}

div.but {
    display: grid;
    justify-content: center;
}