body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fbfcfd;
}

#plogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plogo img {
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition-property: transform;
    transition: all 0.9s ease-in-out;
}

#plogo img:hover {
    transform: rotateZ(360deg);
}

/* Page title */

#page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-title h1 {
    font-weight: bold;
    font-size: 33px;
    font-family: Flubber;
    color: #01192c;
    text-align: center;
    word-spacing: 12px;
}

/* social icons */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact>a>i {
    padding: 10px;
    margin: 8px;
    font-size: 24px;
    color: rgba(1, 25, 44, 0.8);
    cursor: pointer;
    transition-property: transform;
    transition: all ease-in-out 0.4s;
}

#contact>a>i:hover {
    text-shadow: 3px 3px 2px rgba(1, 25, 44, 0.3);
    transform: translate(-1px, -1px);

}

#contact>a>i:active {
    text-shadow: none;
    transform: translate(1px, 1px);
}


/* menu bar */


.menu {
    background-color: rgba(1, 25, 44, 0.8);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    display: flex;
    justify-content: center;
}

.menu-list {
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
}

#active {
    background: #01192c;
    color: #fff;
}

.menu-group {
    flex-grow: 1;
}

.menu-link {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 1.6rem 1.8rem;

    transition: color .25s ease-out;

    font-weight: 700;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link:before,
.menu-link:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #01192c;

    will-change: width;
    transition: width .05s ease-out;

    position: absolute;
    bottom: 0;
}

.menu-link:before {
    left: 50%;
    transform: translateX(-50%);
}

.menu-link:after {
    right: 50%;
    transform: translateX(50%);
}

.menu-link:hover:before,
.menu-link:hover:after {
    width: 100%;
    transition-duration: .15s;
}

.nav-menu nav ul li a:hover {
    background: #fff;
    color: #01192c;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.nav-menu #toggle {
    display: none;
}

.nav-menu .show-menu i {
    font-size: 24px;
    position: relative;
    left: 30px;
    padding: 5px 5px;
    color: #fff;
    border-radius: 5px;
}

.nav-menu .show-menu {
    display: none;
    cursor: pointer;
    background: #01192c;
}

/*content*/
section.list {
    background-image: url("../imgs/no_result.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.list h2 {
    text-align: center;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.5)
}


/* Footer */

.footer-distributed {
    background: rgba(1, 25, 44, 0.9);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footer-distributed .footer-left {
    width: 30%;
    margin-left: 110px;
}

/* logo */

.footer-distributed>.footer-left>a>img {
    height: 50px;
    border: 2px solid #fff;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #fff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links ul li {
    list-style: none;
}

.footer-distributed .footer-links ul li a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.footer-distributed .footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-distributed>.footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.footer-distributed .footer-center {
    width: 39%;
}

.footer-distributed .footer-center i {
    background-color: #01192c;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
}

.footer-distributed .footer-center p span {
    display: block;
    font-size: 12px;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: rgba(1, 25, 44, 0.3);
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px;

    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    transition: all ease-in-out 0.7s;
}

.footer-distributed .footer-icons a:hover {
    background: #fff;
    color: #01192c;
    transform: rotate(360deg);
}


@media (max-width: 1410px) {

    #page-title h1 {
        font-size: 26px;
        width: 80%;
    }



    @media (max-width: 1200px) {

        #page-title h1 {
            font-size: 25px;
            width: 80%;
        }

        .footer-distributed .footer-left {
            margin-left: 60px;
        }
    }


    @media (max-width: 1000px) {

        #contact>a>i {
            font-size: 22px;
        }

        .footer-distributed .footer-left {
            width: 30%;
            margin: 0px;
        }


        .footer-distributed .footer-center i {
            display: block;
            margin: 10px auto;
        }

        .footer-distributed {
            font: bold 14px sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 80%;
            margin-bottom: 40px;
            text-align: center;
        }
    }




    @media (max-width: 960px) {

        #page-title h1 {
            font-size: 24px;
            width: 80%;
        }

        .menu-link {
            padding: 1.5rem 1.6rem;
            font-size: 14px;
        }

        #contact {
            flex-direction: column;
        }

        #contact>a>i {
            padding: 2px;
            margin: 5px;
        }

        #page-title h1 {
            font-size: 23px;
            width: 80%;
        }
    }

    @media (max-width: 685px) {

        #plogo img {
            height: 70px;
        }

        #page-title h1 {
            width: 80%;
            font-size: 22px;
        }

        #contact>a>i {
            font-size: 20px;
        }

        .nav-menu .show-menu {
            display: block;
        }

        #active {
            color: #fff;
            background: #01192c;
            border-bottom: 3px solid #01192c;
        }

        .menu>.menu-list {
            width: 100%;
            flex-direction: column;
            display: none;
        }

        .menu>.menu-list a {
            color: #01192c;
            background: #fff;
        }

        #toggle:checked+.menu>.menu-list {
            display: flex;
        }

        .nav-menu nav ul li a:hover {
            background: #01192c;
            color: #fff;
        }
    }

    @media (max-width: 415px) {

        #plogo img {
            height: 60px;
        }


    }

    @media (max-width: 376px) {}
