.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 100px 450px 380px;
    grid-template-areas:
        "index-title"
        "index-nav-menu"
        "index-main"
        "index-footer";
}

.title {
    grid-area: index-title;
    display: grid;
    grid-template-columns: 83% 17%;
    grid-template-rows: 120px;
    grid-template-areas:
        "header-l-pt header-contact";
}

.logo-ptitle-bar {
    grid-area: header-l-pt;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 120px;
    grid-template-areas:
        "header-logo header-pt";
}

#plogo {
    grid-area: header-logo;
}

#page-title {
    grid-area: header-pt;
}

#contact {
    grid-area: header-contact;
}

.nav-menu {
    grid-area: index-nav-menu;
}

main {
    grid-area: index-main;
    display: grid;
    grid-template-columns: 12.5% 73.5% 14%;
    grid-template-rows: 100%;
    grid-template-areas:
    ". main-table .";
}

main .contact-detail {
    grid-area: main-table;
}

footer {
    grid-area: index-footer;
}

@media (max-width: 1468px) {

    .wrapper {
        grid-template-rows: 120px 100px 450px 380px;
    }
}

@media (max-width: 1025px) {

    .wrapper {
        grid-template-rows: 120px 100px 450px 410px;
    }
}

@media (max-width: 1000px) {

    .wrapper {
        grid-template-rows: 120px 100px 450px 870px;
    }

    .title {
        grid-template-columns: 77% 23%;
    }
}


@media (max-width: 960px) {
    .wrapper {
        grid-template-rows: 120px 100px 450px 870px;
    }

    .title {
        grid-template-columns: 78% 22%;
    }
}

@media (max-width: 725px) {
    .wrapper {
        grid-template-rows: 120px 100px 450px 870px;
    }
}


@media (max-width: 685px) {
    .wrapper {
        grid-template-rows: 120px 30px 900px 890px;
    }

    .logo-ptitle-bar {
        grid-template-columns: 25% 75%;
    }

    .title {
        grid-template-columns: 77% 23%;
    }
}

@media (max-width: 420px) {
    .wrapper {
        grid-template-rows: 120px 30px 900px 940px;
    }
}

@media (max-width: 325px) {
    .wrapper {
        grid-template-rows: 120px 30px 900px 980px;
    }
}