
/*content*/

/* table {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 200px;
}

.list h2 {
    font-weight: 700;
    margin: 8px 0 16px 0;
    display: grid;
    justify-content: center;
}

th {
    font-size: 18px;
    padding: 12px 0;
}

.dec-table, td {
    padding: 15px;
}

.dec-table {
    width: 100%;
}

.box div {
    text-align: center;
}

td {
    padding: 20px 10px;
    text-align: center;
}

.crows {
    background: rgba(1, 25, 44, 0.8);
    color: #fff;
}

.rows:nth-child(odd) {
    background: rgba(1, 25, 44, 0.4);
    color: #fff;
}
 */
